.fea{
    font-size: 3rem;
    padding-top: 280px;
    padding-left: 40px;
    padding-bottom: 20px;
    color: black;
    color: rgb(6 182 212);
}

h3{
    padding-left: 40px;
    padding-top: 15px;
    color: rgb(6 182 212);
    font-weight: bold;    
    
}

.feature-des{
    padding-left: 40px;
    padding-right: 90px;
    color: white;
    
    
}

.card-one{
    display: flex;
    

    
}

.card-two{
    display: flex;
    padding-top: 30px;
    

    
}
.feature-one{
    
    margin-top: 20px;
    border-radius: 10px;
    height: 320px;
    width: 320px;
    margin-left: 40px;
    
    

}

.second-fea{
    padding-top: 10px;
}