.footer-section{
    padding-top: 300px;
}

.footer-logo{
    color: rgb(6 182 212);
    padding-left: 40px;
}

.advert{
    padding-top: 20px;
    padding-left: 40px;
    color: white;
    width: 50%;
    text-align:justify;
}

img{
    width: 350px;
    height: 200px;
    float: right;
    margin-top: -190px;
    margin-right: 120px;
    border-radius: 20px;
        
}

.copy{
    padding-top: 100px;
    text-align: center;
    font-weight: bold;
    color: rgb(6 182 212);
    padding-bottom: 20px;
}
.p{
    padding-left: 40px;
}